MONGODB_URI="mongodb+srv://pawpaths_app:<db_password>@pawpaths-main.ix4tqvl.mongodb.net/pawpaths?retryWrites=true&w=majority&appName=PawPaths-main"
MONGODB_DB_NAME="pawpaths"
ADMIN_EMAILS="you@example.com"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="<generate_with_openssl_rand_base64_32>"
BETTER_AUTH_API_KEY="<better_auth_infra_api_key>"
AUTH_EMAIL_FROM="PawPaths <accounts@your-domain.example>"
RESEND_API_KEY="<resend_api_key>"
NUXT_PUBLIC_MAP_STYLE_URL="https://api.maptiler.com/maps/019e25e2-9147-753c-ac72-1824b4ea6572/style.json?key=<maptiler_api_key>"
CLOUDINARY_CLOUD_NAME="<cloudinary_cloud_name>"
CLOUDINARY_API_KEY="<cloudinary_api_key>"
CLOUDINARY_API_SECRET="<cloudinary_api_secret>"
OPENAI_API_KEY="<openai_api_key>"
OPENAI_DESCRIPTION_MODEL="gpt-4.1-mini"
